<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">POS Category wise receipt</h2>
        <h4 class="oe_slogan">Cybrosys Technologies , www.cybrosys.com</h4>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <p class='oe_mt32'>
            &#x261B; Choose your product randomly
        </p>
         <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="product_screen.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <p class='oe_mt32'>
            &#x261B;Product category wise receipt
        </p>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="pos_receipt.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="http://www.cybrosys.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/odoo-customization-and-installation/"><i
            class="fa fa-check-square"></i> Request Customization </a>
    </div>
            <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
</section>